#arrow {
    transition: transform .5s ease-in-out;
}

.rotate-in {
    animation: rotator 0.3s linear;
    rotate: 180deg;
}

.rotate-out {
    animation: rotator 0.3s linear reverse;
    rotate: 0deg;
}

@keyframes rotator {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 180deg;
    }
}